.input-wrapper {
  display: grid;
  grid-template-columns: var(--size);
  grid-template-rows: var(--size);
}

.input-wrapper > * {
  margin: 5px;
}

.input-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.input-box input {
  --shadow: var(--fg);
  --scale: 1;
  border: 0;
  border-radius: 5px;
  color: var(--bg);
  background-color: var(--hl);
  font-size: 24pt;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 2px 2px 0px 0px var(--shadow);
  transition: background-color .5s ease, transform .5s ease, box-shadow .5s ease, border-radius .5s ease;
}


.input-box input:hover, .input-box input:focus, .input-box input:active {
  --scale: 0.95;
  box-shadow: 0px 0px 0px 0px var(--shadow);
  transform: scale(var(--scale));
}

.input-box > .active {
  --shadow: var(--hl);
  transform: rotateY(180deg) scale(calc(var(--scale) *-1), 1) !important;
  background-color: var(--fg);
}

.input-box > * {
  transform: rotateY(0deg);
}

.output-wrapper {
  overflow-y: auto;
  max-height: var(--size);
  width: max(min(40vw, var(--size)), 400px);
  text-align: center;
  color: var(--fg);
}

.output-box {
  width: 100%;
}

.output-box > * {
  background-color: var(--bg);
  cursor: pointer;
}

.output-box > *:nth-child(even) {
  background-color: var(--bg-hl);
}

.output-box > * > *:nth-child(2) {
  width: 100%;
}

.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: 0 0 15px 0;
  border: 0;
  margin: 0;
  transition: 2s ease-in transform;
  transform: translateY(-100vh);
}

.loading[open] {
  transform: translateY(0px);
}

button.scroll-to-bottom {
  position: absolute;
  left: 50%;
  bottom: 15px;
  margin: 0;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 100%;
  background-color: var(--hl);
  opacity: 0;
  transition: opacity .5s ease;
}

.scroll-at-top button.scroll-to-bottom {
  opacity: 1;
}

.scroll-to-bottom, svg.scroll-to-bottom > * {
  cursor: pointer;
  color: var(--bg);
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.app > * {
  margin: 0px 10px 0px 10px;
}

.about {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg) var(--fg);
}

:root {
  background-color: var(--bg);
}

* {
  --size: 45vh;
  --bg: #1a1e1c;
  --bg-hl: #3a3e3c;
  --fg: #ffffff;
  --hl: #ffc000;
  --ga-background: var(--fg);
  --ga-foreground: var(--bg);
  font-family: arial;
  color: var(--fg);
  box-sizing: border-box;
}
